%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}


%center
  %h4.white-text Rails Spotify API
  %img{src: 'https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png', width: 300}
  %a{href: 'https://github.com/devpolish/rails-spotify', class: 'white-text'} Visit the official documentation
  %p{class: 'white-text'} Devpolish
:css
  body {
    background-color: #000;
  }
