%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}

%div{style: 'display: flex; flex-direction: column; flex: 1; align-items: center; padding: 100px;'}
  %div
    = image_tag('github.png', width: 160)
    %a.blink_me{style: 'color: #fff; font-weight: 900;', href: 'https://github.com/nardonykolyszyn/rails-spotify'} -> Documentation <-
  %div
    %iframe{:allow => "encrypted-media", :allowtransparency => "true", :frameborder => "0", :height => "380", :src => "https://open.spotify.com/embed/playlist/0nfzuqkGvYCeEI38zb5aCq", :width => "300"}

:css
  body {
    background-color: #000;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
